* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --trans: all 0.35s ease-in-out;
  --color_black: #1e1e1e;
  --color_purple: #5646cc;
}
.container {
  width: 100%;
  max-width: 1368px;
  margin: 0 auto;
  padding: 0 84px;
}
@media (max-width: 750px) {
  .container {
    padding: 0 30px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  zoom: 1.4;
}
// header-----------------------------------------------------------------------------
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(30, 30, 30, 0.15);
  position: relative;
}
.h__left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__header {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__link {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;
  &:hover {
    color: var(--color_purple);
  }
}
.header__link:not(.no_active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  height: 2px;
  background-color: var(--color_purple);
  transition: width 0.35s;
}
.header__link:not(.no_active):hover:before {
  width: 100%;
}
.h__right {
  margin-left: 40px;
}
.language-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.language-dropdown__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  gap: 5px;
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.language-dropdown__icon {
  transition: transform 0.3s;
}

.language-dropdown__menu {
  position: absolute;
  background-color: #f9f9f9;
  width: 110%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
  padding: 10px;
  right: 0px;
}

.language-dropdown__item {
  color: black;
  text-decoration: none;
  display: block;
  &:first-child {
    margin-bottom: 5px;
  }
}

.language-dropdown:hover .language-dropdown__menu {
  max-height: 200px;
  opacity: 1;
}

.language-dropdown:hover .language-dropdown__icon {
  transform: rotate(180deg);
}
.burger {
  display: none;
}
.burger__icon {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.burger__icon div {
  width: 100%;
  height: 3px;
  background-color: var(--color_purple);
  transition: all 0.3s ease;
}

.burger__menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--color_purple);
  padding: 20px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  transition: max-height 0.5s ease;
  max-height: 100%;
}
.burger__menu.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.burger__menu .header__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  padding-top: 80px;
  justify-content: center;
}
.burger__menu .header__item {
  width: 100%;
  text-align: center;
}
.burger__menu .header__link {
  margin: 10px 0;
  font-size: 35px;
  color: white;
}
.header__dropdown_menu_burger .header__link {
  font-size: 24px;
}
.burger__icon.active .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  background-color: white;
}

.burger__icon.active .line2 {
  opacity: 0;
}

.burger__icon.active .line3 {
  transform: rotate(45deg) translate(-9px, -9px);
  background-color: white;
}
.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px !important;

  li a {
    color: #fff;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.burger {
  display: none;
}
@media (max-width: 1200px) {
  .h__center {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger__menu.active {
    display: block;
  }
  .burger__icon {
    display: flex;
  }
}
// hero section-----------------------------------------------------------------------------
.hero__section {
  padding-top: 15px;
  padding-bottom: 80px;
  position: relative;
}

.nav__page {
  display: flex;
  align-items: center;
  gap: 10px;
  a {
    color: rgba(30, 30, 30, 0.5);
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  span {
    color: #1e1e1e;

    font-family: Prompt;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .nav__page_active {
    color: #1e1e1e;
  }
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-top: 30px;
}
.hero__left {
  width: 100%;
  max-width: 570px;
  h1 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
  }
  p {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    width: 100%;
    max-width: 490px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  a {
    border-radius: 50px;
    background: #5646cc;
    border: 1px solid var(--color_purple);
    width: 221px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    gap: 10px;
    transition: var(--trans);
    &:hover {
      background-color: #5646cc5b;
    }
  }
}
.hero__rigth {
  width: 100%;
  img {
    width: 100%;
  }
}
// company__section-----------------------------------------------------------------------------
.company__section {
  background-color: #5646cc;
  padding-top: 18px;
  padding-bottom: 18px;
}
.company__list {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    width: 100%;
  }
}

// service__section-----------------------------------------------------------------------------
.section__service {
  padding-top: 80px;
  padding-bottom: 80px;
}
.service__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.service__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 440px;
  position: relative;
  img {
    display: block;
    width: 100%;
  }
  & > span {
    border-radius: 50px;
    background: rgba(86, 70, 204, 0.2);
    color: #5646cc;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 30px;
    width: fit-content;
  }
  h3 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  p {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    span {
      color: #5646cc;
      font-family: Prompt;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
// howwework__service-----------------------------------------------------------------------------
.section__howwework {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #1e1e1e;
  position: relative;
}
.howwework__title {
  color: #fff;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 15px;
}
.howwework__subtitle {
  color: #fff;
  font-family: Prompt;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.howwework__list {
  display: flex;
  align-items: center;
  padding-top: 30px;
  gap: 20px;
  position: relative;
  padding-bottom: 82px;
  z-index: 1;
}

.howwework__item {
  height: 230px;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  width: 100%;
  max-width: 285px;
  span {
    border-radius: 50px;
    background: rgba(86, 70, 204, 0.2);
    padding: 9px 30px;
    color: #5646cc;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
  }
  h3 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  p {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

.howwework__step {
  position: absolute;
  bottom: 0;
  p {
    border-radius: 50px;
    background: #5646cc;
    padding: 9px 30px;
    color: #fff;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
  }
  svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
  }
}

.step1 {
  left: 25%;
  transform: translateX(-50%);
}
.step2 {
  left: 50%;
  transform: translateX(-50%);
}
.step3 {
  left: 75%;
  transform: translateX(-50%);
}
.howwework__back {
  position: absolute;
  right: 0px;
  top: 0px;
}
// whatwedo__section-----------------------------------------------------------------------------
.whatwedo__section {
  padding-top: 80px;
}
.whatwedo__container {
  display: flex;
  position: relative;
  padding-bottom: 50px;
}

.whatwedo__title {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
  margin-bottom: 15px;
}
.whatwedo__subtitle {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  margin-bottom: 40px;
  width: 100%;
  max-width: 700px;
}
.whatwedo__swiper {
  width: 100%;
  max-width: 590px;
  height: 200px;
  margin-left: 0px !important;
}
.swiper__pagination {
  position: relative;
  width: 120px;
  display: flex;
  align-items: center;
}
.custom-arrow {
  background-image: url("../img/arrow__left.svg"); /* URL вашого SVG файла */
  background-size: 20px;
  width: 20px !important;
  height: 20px !important;
  background-repeat: no-repeat;
  top: -8px !important;
}
.swiper-button-next.custom-arrow {
  transform: rotate(180deg);
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none !important;
}

.whatwedo__slide_title {
  color: #5646cc;
  font-family: Prompt;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 110%; /* 24.2px */
}
.whatwedo__slide_subtitle {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
}

.whatwedo_rigth {
  position: absolute;
  bottom: 0;
  right: 0;
  img {
    display: block;
  }
}
// offers-----------------------------------------------------------------------------
.offers__section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: rgba(86, 70, 204, 0.1);
}

.offers__title {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
  margin-bottom: 15px;
}
.offers__subtitle {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  margin-bottom: 30px;
  width: 100%;
  max-width: 700px;
}
.offers__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.offers__item {
  span {
    display: inline-block;
    color: #fff;
    font-family: Prompt;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 22px */
    padding: 14px;
    border-radius: 10px;
    background: #5646cc;
    margin-bottom: 15px;
  }
  h3 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 26.4px */
    margin-bottom: 15px;
  }
  p {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
  }
}
// techno-----------------------------------------------------------------------------
.techno__service {
  padding-top: 80px;
  padding-bottom: 80px;
}

.techno__title {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
  margin-bottom: 30px;
}
.techno__container {
  width: 100%;
}

.techno__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}
.techno__list::-webkit-scrollbar {
  height: 3px;
  background-color: #5646cc5b;
  border-radius: 10px;
}

.techno__list::-webkit-scrollbar-thumb {
  background-color: #5646cc;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.techno__list::-webkit-scrollbar-thumb:hover {
  background-color: #4036a6;
}
.techno__tab {
  flex: 1;
  padding: 10px 0 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  min-width: 130px;
}

.techno__tab:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: rgba(86, 70, 204, 0.15);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.techno__tab--active:after {
  background-color: #5646cc;
}

.techno__content {
  display: none;
  padding-top: 50px;
  border-top: none;
  animation: fadeIn 0.5s ease;
  align-items: flex-start;
  justify-content: space-between;
}

.techno__content.active {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.techno__content_left {
  p {
    width: 100%;
    max-width: 592px;
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 20px;
  }
  a {
    border-radius: 50px;
    background: #5646cc;
    border: 1px solid var(--color_purple);
    padding: 18px 50px;
    color: #fff;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    transition: var(--trans);
    &:hover {
      background-color: #5646cc5b;
    }
  }
}
.techno__content_right {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 530px;
}
.techno__block {
  border-radius: 20px;
  background: #5646cc;
  width: 100%;
  max-width: 255px;
  min-height: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  span {
    color: #fff;
    font-family: Prompt;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 55px */
    display: inline-block;
    margin-bottom: 8px;
    text-align: center;
  }
  p {
    color: #fff;
    text-align: center;
    font-family: Prompt;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    text-align: center;
  }
}
// partner__section-----------------------------------------------------------------------------
.partner__section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #5646cc;
}

.partner__title {
  color: #fff;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
  margin-bottom: 30px;
}
.partner__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  img {
    width: 100%;
  }
}

// blog-----------------------------------------------------------------------------
.blog__section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.blog__title {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
  margin-bottom: 30px;
}

.blog__swiper {
  width: 100%;
  height: 530px;
  .swiper__pagination {
    margin-right: auto;
    margin-left: auto;
  }
}

.blog__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  height: 450px;
  img {
    display: block;
    width: 100%;
  }
  & > span {
    border-radius: 50px;
    background: rgba(86, 70, 204, 0.2);
    color: #5646cc;
    font-family: Prompt;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 30px;
    width: fit-content;
  }
  h3 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }
  p {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    span {
      color: #5646cc;
      font-family: Prompt;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

// review__section-----------------------------------------------------------------------------
.review__section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: rgba(86, 70, 204, 0.1);
}

.review__title {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
  margin-bottom: 15px;
}
.review__subtitle {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  margin-bottom: 30px;
  width: 100%;
  max-width: 700px;
}

.review__swiper {
  height: 350px;
  .swiper__pagination {
    margin-right: auto;
    margin-left: auto;
  }
}

.review__slide {
  border-radius: 20px;
  background: #fff;
  padding: 30px;
  height: 280px !important;
  h3 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 24.2px */
    margin-bottom: 15px;
  }
  p {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
    text-overflow: ellipsis;
  }
}

.star__box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

// faq-----------------------------------------------------------------------------
.faq__section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.faq__title {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
  margin-bottom: 30px;
}
.faq__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.faq__item {
  border-radius: 20px;
  background: rgba(86, 70, 204, 0.1);
  padding: 30px;
}
.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  padding-right: 60px;
  h3 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 19.8px */
    width: 100%;
    max-width: 460px;
  }
}
.toggle-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
@keyframes rotate-in {
  0% {
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotate-out {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}

.rotate-in {
  animation: rotate-in 0.5s forwards;
}

.rotate-out {
  animation: rotate-out 053s forwards;
}
.plus-icon,
.minus-icon {
  transition: opacity 0.5s, transform 0.5s;
  position: absolute;
  right: 15px;
}

.plus-icon {
  opacity: 1;
}

.minus-icon {
  opacity: 0;
  transform: rotate(90deg);
}

.faq__item.active .plus-icon {
  opacity: 0;
  transform: rotate(-90deg);
}

.faq__item.active .minus-icon {
  opacity: 1;
  transform: rotate(0);
}
.faq__answer {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  padding-top: 20px;
}
// form-----------------------------------------------------------------------------
.form__section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: rgba(86, 70, 204, 0.1);
}

.form__title {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 55px */
  margin-bottom: 15px;
  text-align: center;
}
.form__subtitle {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
  margin-bottom: 30px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 590px;
  margin-right: auto;
  margin-left: auto;
  input {
    border-radius: 12px;
    background: #fff;
    padding: 20px;
    outline: none;
    border: 1px solid transparent;
    color: rgba(30, 30, 30);
    font-family: Prompt;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    transition: var(--trans);
    width: 100%;
    &::placeholder {
      color: rgba(30, 30, 30, 0.6);
      font-family: Prompt;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 19.5px */
    }
    &:focus {
      border: 1px solid var(--color_purple);
    }
  }
  .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    label {
      color: rgba(30, 30, 30, 0.6);
      font-family: Prompt;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 19.5px */
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding-left: 30px;
    }
  }
  .checkbox input[type="checkbox"] {
    display: none;
  }
  .checkbox label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #5646cc;
    border-radius: 3px;
    background: #fff;
    transition: var(--trans);
  }
  .checkbox input[type="checkbox"]:checked + label::before {
    background: #5646cc;
  }
  .checkbox input[type="checkbox"]:checked + label::after {
    content: "✓";
    position: absolute;
    left: 4px;
    top: 0;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #5646cc;
    border: 1px solid var(--color_purple);
    color: #fff;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
    padding: 18px;
    cursor: pointer;
    margin-top: 15px;
    transition: var(--trans);
    &:hover {
      background-color: #5646cc5b;
    }
  }
}
.iti__flag-container {
  padding: 0px !important;
}
.iti--separate-dial-code .iti__selected-flag {
  border-radius: 12px 0px 0px 12px;
}
input.error,
.checkbox.error label::before {
  animation: shake 0.3s ease-in-out;
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

input.valid {
  border: 1px solid var(--color_purple);
}
// footer-----------------------------------------------------------------------------
.footer {
  padding-top: 80px;
  padding-bottom: 20px;
  .header__list {
    flex-wrap: wrap;
    row-gap: 5px;
    justify-content: right;
  }
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.footer__bot_item {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
// popup-----------------------------------------------------------------------------
.popup {
  width: 100%;
  max-width: 590px;
  border-radius: 20px;
  background: #fff;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 9999;
}
body.no-scroll {
  overflow: hidden;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.popup.active {
  opacity: 1;
  pointer-events: all;
}
.popup__title {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 24.2px */
  text-align: center;
  margin-bottom: 15px;
}
.popup__subtitle {
  color: #1e1e1e;
  font-family: Prompt;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  margin-bottom: 20px;
}
.popup__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
.popup__item {
  button {
    border-radius: 50px;
    border: 1px solid #5646cc;
    background: #fff;
    color: #5646cc;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 20.8px */
    width: 100%;
    max-width: 255px;
    height: 60px;
    cursor: pointer;
    transition: var(--trans);
    &:hover {
      background-color: #5646cc5b !important;
    }
  }
}
.active__btn {
  background: #5646cc !important;
  color: white !important;
}
.popup__link {
  color: #5646cc;
  font-family: Prompt;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 19.5px */
  text-decoration-line: underline;
  cursor: default;
}
// privacy-----------------------------------------------------------------------------
.privacy__section {
  padding-top: 60px;
  h1 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 55px */
    margin-bottom: 20px;
  }
  h4 {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    margin-bottom: 30px;
  }
  p {
    color: #1e1e1e;
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    width: 100%;
    max-width: 1100px;
  }
}
// search-----------------------------------------------------------------------------
.search-container {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 1000;
  width: 80%;
  max-width: 400px;
}
.overlay_half {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 999;
}
.search-container.active {
  opacity: 1;
  pointer-events: all;
}

.overlay_half.active {
  opacity: 1;
  pointer-events: all;
}

.search-input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  border: none !important;
  box-shadow: none !important;
  animation: none !important;
}
// adaptive-----------------------------------------------------------------------------
@media (max-width: 1740px) {
  body {
    zoom: 1.2;
  }
}
@media (max-width: 1500px) {
  body {
    zoom: 1;
  }
}

@media (max-width: 1230px) {
  .h__right {
    margin-left: 20px;
  }
  .h__left {
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .burger {
    margin-left: 15px;
  }
  .howwework__list {
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    position: relative;
    row-gap: 70px;
  }
  .howwework__step svg {
    display: none;
  }
  .step1 {
    left: 50%;
    top: 10px;
  }
  .step2 {
    top: 48%;
    transform: translate(-50%, -50%);
    bottom: auto;
  }
  .step3 {
    left: 50%;
    bottom: 25px;
  }
  .howwework__subtitle {
    margin-bottom: 20px;
  }
  .whatwedo__container {
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    padding-bottom: 0px;
  }
  .whatwedo_rigth {
    position: relative;
    margin-top: 15px;
  }
  .whatwedo_rigth img {
    margin-right: auto;
    margin-left: auto;
  }
  .swiper__pagination {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 1100px) {
  .faq__list {
    grid-template-columns: 1fr;
  }
  .faq__question h3 {
    max-width: none;
  }
}
@media (max-width: 1060px) {
  .techno__content {
    flex-direction: column-reverse;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
  .techno__content_right {
    margin-bottom: 30px;
  }
  .techno__block {
    max-width: 282px;
  }
}
@media (max-width: 1000px) {
  .offers__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 950px) {
  .hero__container {
    flex-direction: column;
    justify-content: center;
  }
  .service__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .company__list {
    gap: 25px;
  }
}
@media (max-width: 680px) {
  .howwework__list {
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .step1 {
    top: 22.4%;
  }
  .step2 {
    top: 50%;
  }
  .step3 {
    bottom: 22.4%;
  }
  .whatwedo__container {
    width: auto;
  }
}
@media (max-width: 600px) {
  .service__list {
    grid-template-columns: 1fr;
  }
  .service__item {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .techno__content_right {
    flex-direction: column;
  }
  .techno__block {
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  .hero__left h1 {
    font-size: 35px;
  }
  .company__list {
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .howwework__title {
    font-size: 35px;
  }
  .whatwedo__title {
    font-size: 35px;
  }
  .offers__title {
    font-size: 35px;
  }
  .offers__list {
    grid-template-columns: 1fr;
  }
  .partner__list {
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .partner__item {
    width: 100%;
    max-width: 180px;
  }
  .partner__title {
    font-size: 35px;
  }
  .blog__title {
    font-size: 35px;
  }
  .whatwedo_rigth {
    img {
      width: 100%;
    }
  }
  .review__title {
    font-size: 35px;
  }
  .faq__title {
    font-size: 35px;
  }
  .form__title {
    font-size: 35px;
  }
}
@media (max-width: 450px) {
  .h__left img {
    width: 100px;
  }
  .company__list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    .company__item {
      margin-right: auto;
      margin-left: auto;
    }
    img {
      width: 150px;
    }
  }
  .partner__list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .partner__item {
    margin-right: auto;
    margin-left: auto;
  }
  .faq__question h3 {
    font-size: 16px;
  }
  .footer__top {
    flex-direction: column;
    .header__list {
      justify-content: center;
    }
  }
  .footer__bottom {
    flex-direction: column;
    justify-content: center;
  }
  .nav__page {
    display: none;
  }
  .burger .nav__page {
    display: block;
    margin-top: 15px;
    a {
      color: #bdb9eb98;
    }
    span {
      color: white;
    }
    .nav__page_active {
      color: #fff;
    }
  }
  .burger__menu .header__link {
    font-size: 25px;
  }
  .howwework__step {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    transform: none;
    left: 0;
    p {
      margin-right: auto;
      margin-left: auto;
      display: block;
    }
  }
  .howwework__list {
    gap: 20px;
  }
  .whatwedo__swiper {
    height: 300px;
  }
  .review__slide {
    height: 320px !important;
  }
  .review__swiper {
    height: 400px;
  }
  .popup__list {
    grid-template-columns: 1fr;
    button {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
@media (max-width: 360px) {
  h2 {
    font-size: 30px !important;
  }
}
